
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bulma';

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-border {
    padding:20px;
    padding-left:50px;
    padding-top:30px;
    //padding-bottom:15px;
}

.text-border{
    padding:20px;
    padding-left:50px;
}

.indent{
    padding-left:50px;
}

.rounded-corner{
    border-radius:10px;
}

.margin{
    margin:8px;
}

.center{
    text-align:center;
}

.center-element{
    display: flex; justify-content: center;
}

.cyan{
    background-color:#209cee;
}


html{
    background-color: #f2f2f2;
}

.text-message-to {
    padding: 8px;
    //margin-right: 0;
    //float: right;
    //clear: both;
    margin-bottom: 8px;
    //display: block;
    justify-content: left;
}

.text-message-from{
    margin-bottom: 8px;
    padding: 8px;
    justify-content: right;
}

