
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bulma';

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
